*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/NavalServidor/nbproject/private/
/NavalCliente/nbproject/private/
/NavalCliente/build/
/NavalServidor/nbproject
/NavalServidor/build.xml
/NavalServidor/lib/
/NavalServidor/build/
/NavalCliente/dist/
/NavalServidor/dist/
/memoria/memoria_cliente/nbproject/private/
/memoria/memoria_servidor/nbproject/private/
/memoria/memoria_cliente/build/